@import url(https://fonts.googleapis.com/css2?family=Merriweather&family=Red+Hat+Display&family=Sacramento&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Merriweather&family=Red+Hat+Display&family=Sacramento&display=swap);

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated--blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white--: hsl(0, 0%, 100%);
    --slightly-transparent--white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6)
}

body {
    background-color: var(--very-dark-blue);
    width: 100%;    
    min-height: 100vh;
    font-size: 15px;
    font-family: Inter, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
}

.header-img {
    background-image: url(images/image-header-desktop.jpg);
    height: 100%;
    width: 100%;
    border-radius: 0 5px 5px 0;
    background-color: var(--soft-violet);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 130px
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    position: relative;
    margin: 0 60px;
    bottom: 10px;
    line-height: 30px
}

h2 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700
}

.main-container {
    max-height: 445px;
    max-width: 1085px;
    margin: 0 auto;
    padding: 6rem;
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    padding: 12% 10%;

}

.right-container {
    text-align: center;
    display: block;
    width: 50%
}

.left-container {
    background-color: var(--dark-desaturated--blue);
    font-size: 15px;
    font-family: Inter, sans-serif;
    color: #fff;
    flex-direction: row;
    width: 50%;
    border-radius: 5px 0 0 5px
}

.info {
    position: relative;
    padding: 0 50px;
    right: 50px
}

.h2-buttom {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    width: 50%;
    justify-content: space-between;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 3rem
}

.stats-group {
    margin-left: 4rem;
    width: 70px
}

.stats-group p {
    position: relative;
    text-transform: uppercase;
    font-size: .7rem;
    right: 60px;
    letter-spacing: 2px
}

span {
    color: var(--soft-violet)
}