@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Red+Hat+Display&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Red+Hat+Display&family=Sacramento&display=swap');

:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated--blue:hsl(244, 38%, 16%);
    --soft-violet:hsl(277, 64%, 61%);
    --white--:hsl(0, 0%, 100%);
    --slightly-transparent--white:hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white:hsla(0, 0%, 100%, 0.6);
    
}
body{
    background-color: var(--very-dark-blue);
    min-height: 100vh;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;

}
.header-img  {
    background-image: url("images/image-header-desktop.jpg");
    height: 100%;
    width: 100%;
    border-radius: 0 5px 5px 0;
    background-color: var(--soft-violet);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

   /* filter: opacity(0.3) drop-shadow(0 0 0 var(--soft-violet)); */
    
}

h1{
    font-family:'Lexend Deca', sans-serif;
    font-weight:700;
    margin:50px
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    position: relative;
    margin:0px 60px;
    bottom: 10px;
    line-height: 30px;
}
h2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    /* justify-content: space-between; */
    

}
.main-container{
    /* margin: 0 auto;
  width: 85%;
  text-align: center; */
    margin:auto;
    width:70%;
    padding-top: 160px;
    display: flex;
}

.right-container{
    text-align: center;
    /* padding:10px; */
    display: block;
    width:50%;

    
}
.left-container{
    background-color: var(--dark-desaturated--blue);
    font-size: 15px;;
    font-family: 'Inter', sans-serif;
    color:white;
    flex-direction:row; 
    width:50%;
    border-radius: 5px 0 0 5px;

}

.info{
    padding-top: 0px;
    gap: 10000px;
    /* margin:auto; */
}
.h2-buttom{
    font-family:'Lexend Deca', sans-serif;
    display: flex;
    width: 50%;
    justify-content: space-around;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
}

.stats-group{
    margin-left: 4rem;
    width: 40px;


}
.stats-group p{
    position:relative;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.7rem;
    right: 60px;
    letter-spacing:2px;

}


span{
    color: var(--soft-violet)
}


